.container__header {
    max-width: 906px;
    margin: 0 auto;

    .header__nav {
        margin: 71px 315px;
        display: flex;
        justify-content: center;
        gap: 99px;

        .nav__link {
            @extend %header__link;

            &:hover {
                color: #03A9F4;
                font-weight: 600;
                font-size: 15px;
                border: none;
                box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.800);
                transition: all 200ms linear;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .container__header {
        width: 100%;

        .header__nav {
            margin: 35px 0;
            flex-flow: row wrap;
            gap: 20px;
        }
    }
}